snippet sig "MRC Signature"
/**
 * Author: 		Matthew Cairns
 * ID:			V00709952
 * Created: 	`date +'%d-%b-%Y %T'`
 * Filename: 	`!p snip.rv = fn` 
 * Description: $2 
 *
 **/
endsnippet

snippet main "main()"
int main(int argc, char * argv[])
{
	${VISUAL}${0}
	return 0;
}
endsnippet

snippet inc
#include <${1:stdio.h}>
endsnippet

snippet pf
printf($1);
endsnippet
