snippet sig "MRC Signature"
/**
  * Name: Matthew Cairns
  * Date: `date +'%d-%b-%Y %T'`
  * Filename: $1 
  * Description: $2 
  *
**/

endsnippet

snippet main "main()"
int main(int argc, char * argv[])
{
	${VISUAL}${0}
	return 0;
}
endsnippet

snippet inc
#include <${1:stdio.h}>
endsnippet
